.discos {
    background-color: $color-fondo;
    color: $color-textos;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}

.disco__item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 350px;
    
   .disco__titulo {
        text-align: center;
        font-size: 2rem;
    }

    .disco__img {
        width: 100%;
        :hover {
            transform: scale(1.05);
            transition: transform .3s;
        }
    } 
    
    
    p {
        padding: 15px;
        text-align: justify;
    }
}
