@media screen and (max-width:768px) {

    .principal {

        &__titulo {
            font-size: 2rem;
        }

        &__parrafo {
            font-size: 16px;
            width: 100%;
            margin: auto;
        
        }

        &__img {
            width: 100%; 
            margin-top: 30px;
        }

    }
    
}

@media screen and (max-width:420px) {
    .principal {

        &__titulo {
            font-size: 1.5rem;
        }

        &__parrafo {
            font-size: 16px;
            width: 100%;
            margin: auto;
            align-items: center;
        }

        &__items {
            text-align: center;
            padding: 10px;
        }

        &__img {
            width: 100%; 
            margin-top: 30px;
        }


    }

    .menu {
        justify-content: space-around;
        align-content: center;
  
    }

    .footer__items {
        text-align: center;
        padding: 5px;
    }
}