.footer__items {
    background-color:$color-principal ; 
    color: $color-textos;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    p {
        margin: 0;
        padding: 10px 0px;
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        gap: 20px;

        a {
            text-decoration: none;
            color: $color-textos;
     
            }

        }

        i {
            font-size: 1.5rem;
        }
        .bi-instagram {
            &:hover {
                color: mediumvioletred;
            }
        }

        .bi-twitter {
            &:hover {
                color: rgb(8, 154, 239);
            }
        }

        .bi-youtube {
            &:hover {
                color:red;
            }
        }

        .bi-spotify {
            &:hover {
                color: rgb(13, 201, 13);
            }
        }

        .bi-c-circle {
            font-size: 1rem;
        }
    }

