@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 90px 1fr 90px;
    grid-template-areas:
    "header     header  header  header"
    "main        main   main    main"
    "footer     footer  footer  footer";
}

.header {
    grid-area: header;
    position: sticky;
    top: 0;
}

.main {
    grid-area: main;
    width: 100%;
}

.footer {
    grid-area: footer;
    background-color: rgb(54,165,238);
}


/* header */


.menu {
    width: 100%;
    background-color: rgb(54,165,238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px 10px 80px;
    align-content: center;
}

.menu__item {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
}


.menu__item a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 150px;
    height: auto;
}

/* main */

.principal {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}


.biografia {
    display:flex;

}

.principal__items {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    justify-content: center;
    align-content: center;
}


.principal__img {
    width: 90%;
    margin: auto;
}

.principal__titulo {
    text-align: center;
    font-family: Roboto;
    font-size: 3rem;

}

.principal__subtitulo {
    text-align: center;
    font-family: Roboto;
    font-size: 2rem;

}

.principal__parrafo {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 20px;

}


.discos {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}

.disco__titulo {
    text-align: center;

}

.disco__item {
    padding: 20px;
    text-align: justify;
    width: 450px;
    
    
}

.disco__item :hover {
    transform: scale(1.05);
    transition: transform .3s;
}

.disco__img {
    width: 100%;
}

.disco__item video {
    width: 100%;
}

.formulario {
    background-color: white;
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    display: flex;
}

.formulario__nombre {
    width: 400px;
    height: 30px;
}

.formulario textarea {
    width: 400px;
    height: 300px;
}

.formulario label {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.formulario__check {
    display: flex;
    width: 100%
}

.boton {
    display: flex;
    justify-content: center;
    padding: 10px;

}


/* footer */

.footer__items {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
    padding: 10px;
    gap: 10px;
    

}


.logo-pie-derecho-reservado {
    width: 12px;
}

.social-media {
    width: 20px;
    height: auto;
    display: flex;
}

/* media queries */


@media screen and (max-width:768px) {
    .principal__parrafo {
        font-size: 16px;
        width: 90%;
    
    }
    
}

@media screen and (max-width:420px) {

    .footer__items {
        text-align: center;
    }
    .principal__img {
       padding-top: 30px;
       margin-top: 30px;
    }

    .menu {
        justify-content: space-around;
        align-content: center;
  
    }
}